:root {
	--primary-white: #fff;
	--sec-white: #ececec;
	--primary-dark: #212121;
	--primary-grey: #2b2b2b;
	--sec-grey: #d1d1d1;
	--primary-pink: #ffc4ff;
	--primary-mustard: #ffb319;
	--primary-green: #48d8a4;
	--sec-green: #66bfbf;
	--primary-blue: #7689d8;
	--first-smed: #333333;
	--second-smed: #0082ca;
}

body {
	background-color: var(--primary-dark);
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
}

body::-webkit-scrollbar {
	display: none;
}

/* NAVBAR */

.container-fluid {
	padding: 0;
}

.navbar {
	padding: 0.75rem 4.5rem;
	background-color: var(--primary-grey);
}

.navbar-brand {
	font-size: 2rem;
	font-weight: bold;
	color: var(--primary-white) !important;
	margin-left: 8vh;
}

/* Toggler */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:hover {
	outline: none;
	box-shadow: none;
	transform: scale(1.2);
	transition: all 0.2s ease-in-out;
}

.navbar-toggler-icon {
	color: var(--primary-white);
	outline: none;
	box-shadow: none;
}

/* Menu Links */

.nav-link {
	font-size: 1.10rem;
	margin: 0 1.5rem;
	letter-spacing: 0.0375rem;
	cursor: pointer;
	color: var(--primary-white) !important;
	border-bottom: 0.185rem solid var(--primary-grey);
}

.nav-link:focus {
	border-bottom: 0.2rem solid var(--primary-blue);
}

.nav-link:hover {
	border-bottom: 0.2rem solid var(--primary-blue);
}

/* HEADER */

#header-section {
	color: var(--primary-white);
	background-color: var(--primary-dark);
	height: 100vh;
	padding-top: 30vh;
}

/* Header Texts */

.header-texts {
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 0.5px;
}

.big-heading {
	font-size: 60px;
}

.small-heading {
	font-size: 45px;
	padding: 5px;
}

.header-desc {
	font-family: 'Montserrate', sans-serif;
	font-size: 17px;
	padding-top: 10px;
	padding-right: 50px;
	padding-left: 50px;
}

@media (prefers-color-scheme: dark) {
	.big-heading,
	.small-heading {
		/* background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%); */
		background: linear-gradient(300deg, #a0e9ff 30%, #a162e8 50%, #f093b0 60%, #edca85 86%);
		background-clip: var(--primary-white);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

/* Header Links */

.header-links .btn {
	background-color: var(--primary-dark);
	border-radius: 50%;
	border: none;
	margin: 2px;
}

.header-links .btn:hover,
.header-links .btn:active,
.header-links .btn:focus {
	border: none;
	outline: none;
	box-shadow: none;
	transform: scale(1.3);
	transition: all 0.2s ease;
}

/* Header Images */

.header-images {
	filter: invert(90%);
}

.header-images img {
	width: 250px;
	border-radius: 50%;
}

/* SKILLS */

#skills-section {
	color: var(--primary-white);
	padding-top: 9vh;
	margin-top: 5rem;
	margin-left: 5rem;
	margin-right: 5rem;
}

.skills-wrapper {
	background-color: var(--primary-grey);
	border-radius: 5%;
}

.skills-header {
	padding-top: 3rem;
	padding-bottom: 2.5rem;
}

.skills-box {
	color: var(--sec-grey);
}

.skills-box h3 {
	font-family: 'Mada', sans-serif;
	font-size: 1.2rem;
	padding-top: 1rem;
	padding-bottom: 3rem;
}

/* EXPERIENCE */

.experience-header {
	color: var(--primary-white);
}

.experience-wrapper {
	color: var(--sec-grey);
	padding: 3.125rem 0;
	overflow: hidden;
	position: relative;
}

.experience-wrapper::before {
	position: absolute;
	content: "";
	top: 11em;
	width: 0.08rem;
	height: 100%;
	background-color: var(--sec-grey);
	z-index: 1;
}

.timeline-block {
	width: calc(50% + 0.5rem);
	display: flex;
	justify-content: space-between;
	clear: both;
}

.timeline-block-right {
	float: right;
}

.timeline-block-left {
	float: left;
	direction: rtl;
}

.marker {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: 0.2rem solid var(--primary-pink);
	background-color: var(--primary-grey);
	margin-top: 0.625rem;
	z-index: 3;
}

.timeline-content {
	text-align: left;
	width: 95%;
	padding: 0 0.5rem;
	direction: ltr;
}

.timeline-content:hover {
	font-weight: bold;
	color: var(--primary-white);
}

@media (max-width: 820px) {
	.experience-wrapper::before {
		left: 0.5rem;
		margin-bottom: 1.8rem;
	}
	.timeline-block-right {
		float: none;
		width: 100%;
	}
	.timeline-block-left {
		float: none;
		direction: ltr;
		width: 100%;
	}
}
